<header>
	<h2>Welcome to WebApp</h2>
</header>

<h2>{{loggedUser.username}}</h2>
<ul>
	<li>Username: {{$root.user.username}}
	<li>User ID: {{$root.user._id}}
	<li>Facebook ID: {{$root.user.facebook.facebookId}}
	<li>Facebook Access Token: {{$root.user.facebook.accessToken}}
	<li>Twitter ID: {{$root.user.twitter.twitterId}}
	<li>Twitter Access Token: {{$root.user.twitter.token}}
</ul>

<p>{{statusMessage}}</p>

<h3>Login</h3>
<form name="login-form" id="login-form">
	<input type="text" ng-model="user.username" placeholder="Email" />
	<input type="password" ng-model="user.password" placeholder="Password" />
	<button ng-click="login()">Login</button>
</form>

<h3>Register</h3>
<form name="register-form" id="register-form">
	<input type="text" ng-model="newUser.username" placeholder="Email" />
	<input type="password" ng-model="newUser.password" placeholder="Password" />
	<input type="password" ng-model="newUser.confirmPassword" placeholder="Confirm Password" />
	<button ng-click="register()">Register</button>
</form>

<p><a href="/auth/twitter" target="_self">Connect with Twitter</a>
<p><a href="/auth/facebook" target="_self">Connect with Facebook</a>
